body{
    background-color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
}

h2{
    font-weight:600;
    margin-bottom:25px;
}

.table {
    font-size: 14px;
    width: 100% !important;
}

.table thead th{
    background-color:#3fbc12;
    color:white;
    text-align:center;
    vertical-align:middle;
}

.table tbody td{
    vertical-align:top;
}

.table tbody tr:hover{
    background-color:#f1f4f8;
}

.texto-longo{
    min-width:350px;
    max-width:500px;
    white-space:normal;
}

.table-responsive{
    border-radius:8px;
    overflow:auto;
}

td, th{
    padding:10px !important;
}

td{
    line-height:1.4;
}

.badge-area{
    background:#e8f4ff;
    color:#3fbc12;
    padding:4px 8px;
    border-radius:6px;
    font-size:12px;
}

.btn-close{
    background-color:#3fbc12;
    box-shadow: none;
}

.btn-close:hover{
    background-color:#3fbc12;
    box-shadow: none;
}

.btn.btn-sm.btn-success.aprovar-relato{
    background-color: #3fbc12;
    border-color: transparent;
}

.btn.btn-sm.btn-success.aprovar-relato:hover{
    background-color: #2a8c0e;
    border-color: transparent;
}

.btn.btn-sm.btn-primary.abrir-relato{
    background-color: #3fbc12;
    border-color: transparent;
}

.btn.btn-sm.btn-primary.abrir-relato:hover{
    background-color: #2a8c0e;
    border-color: transparent;
}

.btn.btn-info{
    background-color: #3fbc12;
    color: #ffffff;
    border-color: transparent;
}

.btn.btn-info:hover{
    background-color: #2a8c0e;
    color: #ffffff;
    border-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:hover .page-link {
    background-color: #2a8c0e !important;
    border-color: #2a8c0e !important;
    color: white !important;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
    background-color: #3fbc12;
    border-color: #3fbc12;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link {
    color: black;
    box-shadow: none;
}
